@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 210 40% 98%;
    --card-foreground: 222.2 47.4% 11.2%;
    --popover: 210 40% 98%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 142 76% 36%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 210 40% 98%;
    --card-foreground: 222.2 47.4% 11.2%;
    --popover: 210 40% 98%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 142 76% 36%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }
}

@layer utilities {
  .auth-bg {
    background-color: hsl(222 47% 11%);
    opacity: 0.8;
    background-image:  linear-gradient(135deg, hsl(210 40% 98% / 0.05) 25%, transparent 25%), linear-gradient(225deg, hsl(210 40% 98% / 0.05) 25%, transparent 25%), linear-gradient(45deg, hsl(210 40% 98% / 0.05) 25%, transparent 25%), linear-gradient(315deg, hsl(210 40% 98% / 0.05) 25%, hsl(222 47% 11%) 25%);
    background-position:  40px 0, 40px 0, 0 0, 0 0;
    background-size: 80px 80px;
    background-repeat: repeat;
  }
}