@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    --background: 222 83% 95%; /* --body-color */
    --foreground: 240 5% 44%; /* --text-color */

    --card: 0 0% 100%; /* --sidebar-color */
    --card-foreground: 240 5% 44%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 5% 44%;

    --primary: 244 98% 68%; /* --primary-color */
    --primary-foreground: 0 0% 100%;

    --secondary: 240 100% 99%; /* --primary-color-light */
    --secondary-foreground: 244 98% 68%;

    --muted: 240 100% 99%;
    --muted-foreground: 240 4% 46%;

    --accent: 240 100% 99%;
    --accent-foreground: 244 98% 68%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 244 98% 68%;
    
    --radius: 0.5rem;
  }
 
  .dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;

    --background: 222 13% 15%;
    --foreground: 210 40% 98%;
    
    --card: 224 12% 16%;
    --card-foreground: 210 40% 98%;

    --popover: 224 12% 16%;
    --popover-foreground: 210 40% 98%;

    --primary: 224 8% 23%;
    --primary-foreground: 210 40% 98%;

    --secondary: 224 8% 23%;
    --secondary-foreground: 210 40% 98%;

    --muted: 224 8% 23%;
    --muted-foreground: 216 12% 84%;

    --accent: 224 8% 23%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 216 12% 24%;
    --input: 216 12% 24%;
    --ring: 216 12% 84%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }
}
